body {
    /*background-image: url(../Resources/slide-image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
    background-image: url(../Resources/slide-image-1.jpg);
    background-size: cover;
}